/*
----01 Typography SYSTEM
- Font weight:
Default: 400
500
600
700

- Line heights:
Deafult: 1
small: 1.05
Medium:1.2
pargaraph: 1.06
Large:1.8
-Letter spacing
-0.5px
-0.75px


-----02 COLORS

- primary: #0E1133
- Tints:
#fdf2e9
#fae5d3
#eb984e
- Shades:
 #cf711f
 #45260a
- Accents:
- Greys:
#888
#767676 (lightest grey allowed #fff)
#6f6f6f (lightest grey allowed on  #fdf2ed )
#555
#333
------ 05 SHADOWS

0 2.4rem 4.8rem rgba(0,0,0,0.075)

-------06 BORDER-RADIUS

Default: 9px
Medium: 11px
-------07 WHITESPACE


*/

/************************************/
/* HEADER*/
/***********************************/
:root {
  --main-padding: 6rem;
}
header {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 3rem var(--main-padding);
  height: 9rem;
  background-color: #eef1f6;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #eef1f6;
  font-weight: 700;
  margin-left: auto;
  padding: 1.5rem 3rem;
  background-color: #ff3e66;
  border-radius: 25px;
  cursor: pointer;
}

.nav-header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
}

.nav-header:link,
.nav-header:visited {
  color: #0e1133;
  font-size: 1.4rem;
}

.logo {
  height: 2.5rem;
}

/************************************/
/*    HERO   SECTION               */
/***********************************/

.hero-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 9rem;
  padding: var(--main-padding);
  background-color: #eef1f6;
}

.img-hero {
  width: 100%;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.pra {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.25px;
}

label {
  margin: 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template: 1fr / auto 2fr 0.2fr;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-left: 3px solid #ff3e66;
  border-radius: 25px;
  box-shadow: 0 3.4rem 6.8rem rgb(0 0 0 /20%);
}

.email {
  border: none;
  outline: none;
  background-color: #ffffff;
  width: 100%;
}

.arrow-icon,
.email-icon {
  font-size: 1.8rem;
  color: #c3c3cc;
}

.arrow-icon {
  color: #ff3e66;
}

.customers {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.customers-photo {
  display: flex;
  box-shadow: 0 2rem 2.2rem rgb(0 0 0 / 10%);
}

.customers-photo img {
  height: 4rem;
  width: 4rem;
  margin-right: -1.5rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.feed {
  font-size: 1.2rem;
}

.feed span {
  font-weight: 700;
  font-size: 2.4rem;
}

/************************************/
/*        FEATURES SECTION          */
/************************************/

.features-section {
  padding: var(--main-padding);
  margin: 0 auto;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.pra-feature {
  color: #50555b;
  font-size: 1.4rem;
  letter-spacing: -0.25px;
}

.features-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.btn-view:visited,
.btn-view:link {
  color: #0e1133;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.25px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #0e113333;
  border-radius: 25px;
}

.features-box {
  margin: 4rem;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  gap: 3rem;
}

.features-box div {
  padding: 5rem 6rem 5rem 4rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #50555b;
  border: 1px solid #0e113313;
  border-radius: 11px;
}

.features-box h3 {
  color: #0e1133;
  font-size: 1.6rem;
  font-weight: 600;
}

.features-box p {
  margin-bottom: 2rem;
}

.features-box-icon {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.features-box-icon::before {
  content: "";
  padding: 1.4rem;
  border-radius: 50%;
}

.fa-bolt-lightning::before {
  background-color: #2ea9f8;
}

.fa-house::before {
  background-color: #ea4d89;
}

.fa-link::before {
  background-color: #3679ff;
}

.fa-bell::before {
  background-color: #d8693a;
}

.fa-gear::before {
  background-color: #6b88f7;
}

.fa-lock::before {
  background-color: #3bb094;
}

.read-more:hover,
.read-more:active {
  cursor: pointer;
}

.marketing {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
  overflow: hidden;
}

.text-marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  letter-spacing: -0.25px;
  background-color: #f0f1f7;
}

.text-marketing h2 {
  margin-bottom: 0;
}

.text-marketing span {
  color: #ff3e66;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.img-marketing {
  background-image: url("Project Images/about-thumb.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.fer div h3 {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0e1133;
  margin-bottom: 1rem;
}

.fer div h3::before {
  content: "\f058";
  position: absolute;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-size: 2rem;
  left: -15%;
  background-color: #ffffff;
  color: #3bb094;
  border-radius: 50%;
}

.fer div p {
  font-size: 1.2rem;
}
